# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

ABLY_API_KEY=""

# Email
TARGET_EMAIL
SEND_EMAIL
SEND_EMAIL_PASSWORD

NEXT_PUBLIC_API_ROOT="http://localhost:3000/"